<h1>Add new Book</h1>

<form action="/books/new" method="POST">

  {{!-- Titulo --}}
  <input type="text" name="title" value="" placeholder="Titulo">
  
  <br>

  {{!-- Description  --}}
  <textarea name="description" id="" cols="30" rows="10" placeholder="Añade la descripcion de tu book aqui"></textarea>

  <button type="submit">Add</button>

</form>