# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# added for maintenance purposes, not best practice
package-lock.json

# Environment Variables should NEVER be published BUT FOR THE LEARNING PURPOSES WE WILL PUBLISH IT
# .env
