body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav ul {
  display: flex;
  gap:2rem;
  list-style:none;
  padding: 0;
}