<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <h1>Ironhacker Be Like</h1>
  {{ data.firstName }}
  {{ data.globalVar }}
  {{!-- <img src="https://media.giphy.com/media/l0MYEqEzwMWFCg8rm/giphy.gif"> --}}
</body>
</html>
