
<h1>{{ name }}</h1>
<div>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.6x0NyayXpqeQP5qPFfFeOQHaE7%26pid%3DApi&f=1&ipt=c5ec3cac42279c78e9eca1ada9537a9b6960e9cbf5f1130cbad2a0ec8ec19442&ipo=images">
</div>


{{#each toys}}
  {{> card }}
  {{!-- {{this}} --}}
{{/each}}