<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav class="site-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/players">Players</a></li>
      <li><a href="/teams">Teams</a></li>
    </ul>
  </nav>

  <div class="site-body">
    {{{ body }}}
  </div>

</body>
</html>