<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h2>Cities from Catalunya</h2>

  <ul>
    {{#each cities }}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <form action="#" id="add-city">
    <input type="text" id="city">
    <button type="submit">Add City</button>
  </form>

  <script>
    document.querySelector('#add-city').addEventListener('submit', event => {
      event.preventDefault();
      const newCity = document.querySelector('#city').value;
      if ( newCity ) {
        const newItem = document.createElement('li');
        newItem.textContent = newCity;
        document.querySelector('ul').appendChild(newItem);
      }
    })
  </script>

</body>
</html>