<div class="container">
  <h1>Welcome to {{appTitle}}</h1>
  <hr />
  <a href="/movie-characters/list" class="btn btn-dark">Characters list</a>
  <a href="/movie-characters/create" class="btn btn-dark">Create character</a>
</div>